/* 
 * Custom CSS for Farrel Tito's Personal Portfolio
 * Yoimiya Theme
 * Inspired by Genshin Impact's color palette of the character Yoimiya.
 * This theme features vibrant colors and a playful design.
*/

body {
    font-family: 'Inter', sans-serif; /* Font: Inter from Google Fonts */
    background-color: #2a2a3e;      /* Dark Slate Blue */
    color: #f0e6d2;                 /* Parchment/Light Cream */
    overflow-x: hidden;               /* Overflow-x property to hide horizontal scroll */
}